# Import dependencies

In [1]:
import numpy as np
import pandas as pd
import os
os.environ['TF_CPP_MIN_LOG_LEVEL'] = '1'
import json
import faiss
import torch
import tensorflow as tf

from sentence_transformers import SentenceTransformer, util
from PIL import Image
import torch

2023-09-15 19:56:33.250026: W tensorflow/compiler/tf2tensorrt/utils/py_utils.cc:38] TF-TRT Warning: Could not find TensorRT

# Load objects

In [2]:
pq_frames = faiss.read_index("new/frames_new_indexer.index")
pq_videos = faiss.read_index("new/video_segment_indexer.index")

In [3]:
df_video = pd.read_parquet("new/map_video_segment_new.parquet")
df_frame = pd.read_parquet("new/map_org_all.parquet")

In [4]:
#Load CLIP model
device = torch.device("cuda" if torch.cuda.is_available() else "cpu")
#Encode an image:
img_model = SentenceTransformer('clip-ViT-B-16').to(device)

# Query engine

In [66]:
def search_video_segment(text_query):
    text_emb = img_model.encode([text_query])
    input = text_emb
    faiss.normalize_L2(input)
    D,I = pq_videos.search(input,10000)
    return df_video.iloc[I[0]].reset_index()

def search_frame(text_query):
    text_emb = img_model.encode([text_query])
    input = text_emb
    faiss.normalize_L2(input)
    D,I = pq_frames.search(input,10000)
    return df_frame.iloc[I[0]].reset_index()

In [134]:
if not os.path.exists("submission/"):
    os.mkdir("submission/")


text_query = "Video of a school of fish forming a heart shape and then swimming in tandem. The next scene is of some people assisting these fish back out to sea."


a = search_video_segment(text_query)
a["old"] = a["start"]*3//25
a["frame idx"] = (a["end"] + a["start"])//2
a.head(100)[["Names","frame idx"]].to_csv("submission/query-5.csv",index=False,header=False)

In [135]:
a.head(100)[["Names","frame idx"]].head(20).reset_index(drop=True)

       Names  frame idx
0   L16_V028      12200
1   L09_V007      11400
2   L20_V032      18600
3   L08_V021       1800
4   L20_V032      17800
5   L20_V042       8600
6   L11_V019      21000
7   L20_V002      15800
8   L20_V042       9000
9   L20_V038       4200
10  L20_V019      22200
11  L20_V038       5000
12  L20_V042       8200
13  L12_V008       5000
14  L12_V006       6200
15  L08_V022      13800
16  L19_V090       7400
17  L02_V003      15400
18  L12_V006       5800
19  L12_V015       7400